#about {
  margin-top: 5%;
  height: 100vh;

  .info {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    padding-top: 35px;

    h2 {
      color: $gray;
      font-size: 25px;
    }

    p, 
    span {
      color: $secondary_gray;
    }

    .details {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 30px;

      p {
        color: #fff;
        margin: 0;
      }
      span {
        padding-left: 10px;
      } 
      
    }
      
  }

  .socials {
    margin-top:35px;
    

  ul {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      margin: 0;
      padding: 0;
      
      li {
        margin-right: 20px;
        list-style: none;

        a {
            display: flex;
            text-decoration: none;
            align-items: center;
            padding: 9px 11px;
            transition: all 0.3s;

            &:hover {
              background: #262F48;
              border-radius: 6px;
              //opacity: 0.3;

              span, i {
                color: #fff;
              }
            }
          
            i {
              padding-right: 8px;
              font-size: 18px;
              color: $gray;
            }

            span {
              color: $secondary_gray;
            }

            
          }
      }
    }
  }

}